body {
  background-color: lightblue;
}

h1, h2 {
  color: black;
  text-align: center;
  font-family: 'Abel', sans-serif;
}

p {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 20px;
  padding: 10px 20px
}
